.headerContainer {
  background-color: var(--cor-preto);
  height: 9rem;
  width: 100%;
  color: var(--cor-branco);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9%;
}

.navbarContent {
  width: 100%;
  display: flex;
  align-items: center;
}

.buttonNav {
  background-color: var(--cor-rosa);
  color: var(--cor-branco);
  font-size: 20px;
  font-weight: 500;
  width: 116px;
  height: 46px;
}

.navText {
  font-weight: 500;
  font-size: 20px;
  color: var(--cor-branco);
}

.buttonContact {
  background-color: var(--cor-rosa);
  color: var(--cor-branco);
  font-size: 20px;
  height: 2.8rem;
  width: 7.25rem;
  border-radius: 15px;
  border: none;
  font-weight: 600;
}
