.headerContainer {
  background-color: var(--cor-preto);
  height: 9rem;
  color: var(--cor-branco);
  position: fixed;
  top: 0;
}

.sidebarContainer {
  background-color: var(--cor-preto);
  color: var(--cor-branco);
  top: 9rem;
}

.navContent {
  display: flex;
  gap: 2rem;
}

.buttonNav {
  background-color: var(--cor-rosa);
  color: var(--cor-branco);
  font-size: 20px;
  font-weight: 500;
  width: 116px;
  height: 46px;
}

.navText {
  font-weight: 500;
  font-size: 20px;
  color: var(--cor-branco);
}

.buttonContact {
  background-color: var(--cor-rosa);
  color: var(--cor-branco);
  font-size: 20px;
  height: 2.8rem;
  width: 7.25rem;
  border-radius: 15px;
  border: none;
  font-weight: 600;
}
