.SuccessCaseCardContainer {
  flex-shrink: 0;
  width: 16rem;
  height: 16rem;
  background-color: var(--cor-preto);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease;
}

.SuccessCaseCardContainer:hover {
  box-shadow: 0 4px 10px rgba(45, 163, 66, 1);
  cursor: pointer;
}

@media (max-width: 949px) {
  .SuccessCaseCardContainer{
     flex-shrink: 0;
  }
}