@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Cores */
  --cor-lilas: #6a5acd; /* Lilás */
  --cor-laranja: #ffa500; /* Laranja */
  --cor-amarelo: #ffff00; /* Amarelo */
  --cor-verde: #32cd32; /* Verde */
  --cor-cinza: #d3d3d3; /* Cinza */
  --cor-rosa: #ff1493; /* Rosa */
  --cor-preto: #1b1b1b; /* Preto */
  --cor-branco: #ffffff; /* Branco */
  --cor-roxo: #800080; /* Roxo */

  /* Fontes */
  --font-poppins: "Poppins", sans-serif;
  --font-playfair: "Playfair Display", serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--cor-preto);
  background: var(--cor-branco);
  font-family: var(--font-poppins);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: var(--font-poppins);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
