.appContainer {
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.appHeroContainer {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.appHeroImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  filter: brightness(0.8);
}
.appHeroImage2 {
  position: absolute;
}

.appHeroTitle {
  position: relative;
  z-index: 2;
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  max-width: 80%;
  line-height: 1.4;
}

.appHeroButtons {
  position: relative;
  z-index: 2;
  margin-top: 2rem;
  display: flex;
  gap: 1.5rem;
}

.appHeroButtonText::before {
  content: "Conheça mais";
}

.appHeroButtons button,
.appHeroButtons a {
  background-color: #000;
  border: 1px solid #63636340;
  color: #fff;
}

.heroHighlight {
  color: #4d61b7;
}

.heroDecoration {
  position: relative;
  display: inline-block;
}

.heroLineBelow {
  position: absolute;
  left: 0;
  bottom: 0.25rem;
  height: auto;
  pointer-events: none;
  user-select: none;
  z-index: -1;
}

.heroUnderlineWrapper {
  position: relative;
  display: inline-block;
  padding: 0 2rem;
  overflow: visible;
}

.heroUnderlineText {
  position: relative;
  z-index: 1;
}

.heroUnderlineImg {
  position: absolute;
  bottom: 25%;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  opacity: 0.8;
  pointer-events: none;
  user-select: none;
}

.heroDecorWrapper {
  position: relative;
  display: inline-block;
}

.heroDecorText {
  position: relative;
  z-index: 1;
}

.heroDecorImg {
  position: absolute;
  top: -55%;
  left: -10%;
  width: 60px;
  height: auto;
  z-index: -1;
  pointer-events: none;
  user-select: none;
  opacity: 0.8;
}

.appSuccessContainer {
  height: 954px;
  padding: 9.5rem 10.5rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.appSuccessContent {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.appSuccessTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formContactTitle {
  position: relative;
  color: var(--cor-branco);
}

.appSuccessTitle2 {
  position: absolute;
  visibility: hidden;
}
.appSuccessTitle h1,
.formContactTitle h1 {
  font-size: 48px;
  position: relative;
  z-index: 1;
}

.formContactTitle h1 {
  position: initial;
}

.appSuccessStribble {
  position: absolute;
  z-index: 0;
  bottom: 0.25rem;
}
.appSuccessStribble2 {
  visibility: hidden;
  position: absolute;
  z-index: 0;
  bottom: 0.25rem;
}

.formContatStribble {
  position: absolute;
  z-index: 0;
  bottom: -0.5rem;
}

.appSuccessTitle p,
.formContactTitle p {
  font-weight: 400;
  font-size: 14px;
}

.appSuccessDescription {
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
  width: 1112px;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

 .appSuccessImage{
    position: absolute;
    right: 120%;
    top: -85%;
  }

.appSuccessStribble2 {
  visibility: visible;
  position: relative;
}

.appSuccessDescription::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  background-color: #000;
}

.solucoesContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 669px;
  width: 100%;
  background-color: #1b1b1b;
  text-align: center;
}

.megaphoneImage {
  position: absolute;
  bottom: 80%;
  left: 8.5em;
}

.SolucoesTitulo {
  position: relative;
  width: 80%;
  color: #dddddd;
  font-weight: 700;
  max-width: 100%;
  line-height: 1;
  text-align: start;
  font-size: 48px;
  color: #dddddd;

  padding-bottom: 2.5cap;
}
.SolucoesTituloImage {
  position: absolute;
  top: 0.8em;
  left: 0;
  width: 461px;
  height: 26px;
}
 .SolucoesTituloStribble {
     visibility: hidden;
      position: absolute;
 }

.SolucoesSubTitulo {
  width: 80%;
  font-size: 1rem;
  color: #dddddd;
  font-weight: 400;
  text-align: start;
}

.solucoesContainerCard {
  display: flex;
  font-family: "Poppins", sans-serif;
  width: 80%;
  font-size: 16px;
 
  color: #dddddd;
  font-weight: 400;
  flex-direction: row;
  overflow-x: scroll;
  gap: 1.5rem;
}



.solucoesCard {
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  align-items: center;
  width: 200px;
  height: 306px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #434343;
}

.soluçoesCardTitulo {
  position: absolute;
  top: 22%;
  width: 165px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  line-height: 20px;
  font-weight: 400;
  font-size: 1rem;
  color: #dddddd;
}

.soluçoesCardText {
  position: absolute;
  top: 45%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: #dddddd;
  width: 145px;
}

.solucoesLine {
  position: absolute;
  top: 40%;
  width: 116px;
  height: 2px;
  background-color: #fcc837;
}

.formContactContainer {
  position: relative;
  height: 1129px;
  padding: 9.5rem 10.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cor-preto);
  gap: 5rem;
  border-bottom: 1px solid var(--cor-cinza);
  border-top: 1px solid var(--cor-cinza);
}

.formContactContent {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  padding: 2rem;
}

.secadorWapperDireita {
  position: absolute;
  bottom: 30%;
  right: -35%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secadorWapperEsquerda {
  position: absolute;
  top: -5%;
  left: -35%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-70deg);
}
.secadorWapperEsquerda2{
    visibility: hidden;
  position: absolute;
  top: 10%;
  left: -45%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secadorWapperBase {
  visibility: hidden;
  position: absolute;
  top: 10%;
  left: -45%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secadorDireita {
  position: absolute;
  width: 83.43px;
  height: 98.61px;
  filter: drop-shadow(0 0 10px var(--cor-rosa));
}
.secadorEsquerda {
  position: absolute;
  width: 83.43px;
  height: 98.61px;
  filter: drop-shadow(0 0 10px var(--cor-rosa));
  transform: rotate(-119deg);
  
}




.blur {
  z-index: -1;
}

.brilhoTopo {
  position: absolute;
  top: -5%;
  right: -10%;
  width: 15%;
  z-index: 0;
}

.brilhoFundo {
  position: absolute;
  bottom: -5%;
  left: -10%;
  width: 15%;
  z-index: 0;
}

.formphoneImage{
  position: absolute;
  bottom: 14%;
  right: -28%;
  z-index: 1;
 
}

.formlaptopImage{
  position: absolute;
   top: -25%;
  left: -30%;
}

@media (min-width: 1920px) {
  .appSuccessContainer {
    padding: 9.5rem 24rem;
  }
}

@media (min-width: 1440px) {
  .solucoesContainer {
    height: 669px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .solucoesContainerCard {
    overflow: hidden;
  
  }
}

@media (max-width: 1200px) {
  .SolucoesTitulo {
    width: 85%;
  }
  .SolucoesSubTitulo {
    width: 85%;
  }
  .appHeroContainer{
    height: 700px;
  }
  .appSuccessDescription {
    font-size: 20px;
    width: 70vw;
  }
}

@media (max-width: 949px) {

  .appSuccessImage{
    visibility: hidden;
  }

  .formlaptopImage{
    visibility: hidden;
  }

  .formphoneImage{
     visibility: hidden;
  }

  .appSuccessDescription {
  font-size: 16px;
  }
  .appSuccessContent {
    position: relative;
    width: 80vw;
    overflow-x: scroll;
    padding-left: 3rem;
  }

  .formContactContainer {
    padding: 0 0 0;
    width: 100%;
    height: 951px;
    gap: 2rem;
  }
  .formContactContent {
    padding-top: 0;
  }
  .formContactTitle {
    padding-top: 5vh;
    gap: 2rem;
    padding-bottom: 0;
    display: grid;
    place-self: center;
    text-align: center;
    width: 310px;
  }
  .formContactTitle h1 {
    font-size: 36px;
    width: 310px;
    height: 73px;
  }

  .formContatStribble {
    width: 250px;
    place-self: center;
  }

  .brilhoTopo {
    visibility: hidden;
  }
  .secadorWapperDireita {
     right: -10%;
     bottom: -5%;
  }

  .secadorWapperBase {
     left: -35%;
     bottom: -70%;
    visibility: visible;
    z-index: 0;
  }

  .secadorWapperEsquerda{
    left: -10%;
    top: -25%;
     z-index: 0;
  }

  .secadorWapperEsquerda2{
    right: -60rem;
    top: -10%;
    visibility: visible;
  }

   .secadorWapperEsquerda2 .secadorEsquerda{
    visibility: hidden;
   }


  .brilhoFundo {
    visibility: hidden;
 
  }

  .formContactContent {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .appHeroContainer {
    height: 643px;
  }
  .appHeroTitle {
    font-size: 42px;
    line-height: 42px;
  }
}

@media (max-width: 768px) {
  .heroUnderlineImg {
    display: none;
  }
  .appSuccessDescription {
    display: grid;
    place-self: center;
    text-align: justify;
    font-size: 12px;
    padding-top: 0, 5rem;
    margin-top: 0;
    width: 70vw;
  }

  .SolucoesTitulo {
    font-size: 32px;
  }
  .SolucoesSubTitulo {
    font-size: 11px;
    font-style: italic;
  }

  
}

@media (max-width: 600px) {
    .formContactContainer{
     height: 1000px;
    }
     .appSuccessTitle2 {
    flex-shrink: 0;
    display: flex;
    place-self: center;
    text-align: start;
    position: relative;
    visibility: visible;
    width: 350px;
    font-size: 36px;
    font-weight: 700;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .appSuccessTitle{
    visibility: hidden;
    position: absolute;
  }
  .appSuccessStribble2 {
    visibility: visible;
    width: 12.28px;
    height: 9px;
    position: absolute;
    top: 50%;
    left: 1.2cap;
  }
  .appSuccessContainer {
    height: 610px;
    width: 430px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 490px) {
  .heroUnderlineImg {
    display: none;
  }

  .appHeroButtonText::before {
    content: "Conheça a Irís";
  }
  .appHeroImage {
    visibility: hidden;
  }
  .appHeroImage2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    filter: brightness(0.8);
  }

  .heroDecorImg {
    top: -30%;
    left: 5%;
  }

  .appHeroButtons button,
  .appHeroButtons a,
  .appHeroButtons icon {
    font-size: 20px;
  
  }

  .appHeroButtons button{
    height: 58px;
    min-width: 56px;
  }
  .appHeroButtons{
    padding-bottom: 5rem;
  }

.appHeroButtons a{
  width: 56px;
}

  .appHeroTitle{
    padding-bottom: 7rem;
  }


  .appSuccessStribble {
    visibility: hidden;
  }

  

  .appSuccessTitle {
    visibility: hidden;
    position: absolute;
  }

  .SolucoesTituloStribble {
     visibility: visible;
      position: absolute;
    width: 12.28px;
    height: 9px;
    bottom: 1.5em;
    left: 0;
  }

  .SolucoesTituloImage {
    visibility: hidden;
  }

  .solucoesContainer {
    text-align: start;
  }
  .megaphoneImage {
    position: absolute;
    bottom: 59%;
    left: 9.2em;
    width: 37.59px;
    height: 35.27px;
  }
  .SolucoesSubTitulo {
    width: 85%;
  }
 

  .appSuccessTitle {
    visibility: hidden;
    position: absolute;
  }

   .appSuccessDescription {
     width: 360px;
  }
  

  
}

@media (min-width: 1440px) {
  .solucoesContainer {
    height: 669px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .solucoesCard{
    width: 14.8vw;
  }

 
}
