.appContainer {
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.appHeroContainer {
  position: relative;
  width: 100%;
  height: 850px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
}

.appHeroImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  filter: brightness(0.8);
}
.appHeroImage2 {
  position: absolute;
}

.appHeroTitle {
  position: relative;
  z-index: 2;
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  max-width: 80%;
  line-height: 1.4;
}

.iconButton {
  background-color: #000;
  border: 1px solid #63636340;
  color: #fff;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: width 0.3s ease, padding 0.3s ease;
}
.iconButton:hover {
  width: 100px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.iconContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.iconFade {
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconLabel {
  position: absolute;
  bottom: 0.3rem;
  font-size: 0.7rem;
  opacity: 0;
  transform: translateY(0.5rem);
  transition: opacity 0.3s ease, transform 0.3s ease;
  white-space: nowrap;
}

/* Hover efeito */
.iconButton:hover .iconFade {
  transform: translateY(-1.2rem);
  opacity: 0;
}

.iconButton:hover .iconLabel {
  opacity: 1;
  transform: translateY(0);
}
.appHeroButtons {
  position: relative;
  z-index: 2;
  margin-top: 2rem;
  display: flex;
  gap: 1.5rem;
}

.appHeroButtonText::before {
  content: "Conheça mais";
}

.appHeroButtons button,
.appHeroButtons a {
  background-color: #000;
  border: 1px solid #63636340;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  padding: 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroHighlight {
  color: #4d61b7;
}

.heroDecoration {
  position: relative;
  display: inline-block;
}

.heroLineBelow {
  position: absolute;
  left: 0;
  bottom: 0.25rem;
  height: auto;
  pointer-events: none;
  user-select: none;
  z-index: -1;
}

.heroUnderlineWrapper {
  position: relative;
  display: inline-block;
  padding: 0 2rem;
  overflow: visible;
}

.heroUnderlineText {
  position: relative;
  z-index: 1;
}

.heroUnderlineImg {
  position: absolute;
  bottom: 25%;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  opacity: 0.8;
  pointer-events: none;
  user-select: none;
}

.heroDecorWrapper {
  position: relative;
  display: inline-block;
}

.heroDecorText {
  position: relative;
  z-index: 1;
}

.heroDecorImg {
  position: absolute;
  top: -55%;
  left: -10%;
  width: 60px;
  height: auto;
  z-index: -1;
  pointer-events: none;
  user-select: none;
  opacity: 0.8;
}

.appSuccessContainer {
  height: 954px;
  padding: 9.5rem 10.5rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.appSuccessContent {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.appSuccessTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formContactTitle {
  position: relative;
  color: var(--cor-branco);
  display: flex;
  width: 624px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.appSuccessTitle2 {
  position: absolute;
  visibility: hidden;
}
.appSuccessTitle h1,
.formContactTitle h1 {
  font-size: 48px;
  position: relative;
  z-index: 1;
}

.formContactTitle h1 {
  position: initial;
}

.appSuccessStribble {
  position: absolute;
  z-index: 0;
  bottom: 0.25rem;
}
.appSuccessStribble2 {
  visibility: hidden;
  position: absolute;
  z-index: 0;
  bottom: 0.25rem;
}

.formContatStribble {
  position: absolute;
  z-index: 0;
  bottom: -0.5rem;
}

.appSuccessTitle p,
.formContactTitle p {
  font-weight: 400;
  font-size: 14px;
}

.appSuccessDescription {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  width: 1112px;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.appSuccessImage {
  position: absolute;
  right: 120%;
  top: -85%;
}

.appSuccessStribble2 {
  visibility: visible;
  position: relative;
}

.appSuccessDescription::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  background-color: #000;
}

.solucoesContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 669px;
  width: 100%;
  background-color: #1b1b1b;
  text-align: center;
}

.megaphoneImage {
  position: absolute;
  bottom: 80%;
  left: 8.5em;
}

.SolucoesTitulo {
  position: relative;
  width: 80%;
  color: #dddddd;
  font-weight: 700;
  max-width: 100%;
  line-height: 1;
  text-align: start;
  font-size: 48px;
  color: #dddddd;

  padding-bottom: 2.5cap;
}
.SolucoesTituloImage {
  position: absolute;
  top: 0.8em;
  left: 0;
  width: 461px;
  height: 26px;
}
.SolucoesTituloStribble {
  visibility: hidden;
  position: absolute;
}

.SolucoesSubTitulo {
  width: 80%;
  font-size: 1rem;
  color: #dddddd;
  font-weight: 400;
  text-align: start;
}

.solucoesContainerCard {
  display: flex;
  font-family: "Poppins", sans-serif;
  width: 80%;
  font-size: 16px;

  color: #dddddd;
  font-weight: 400;
  flex-direction: row;
  overflow-x: scroll;

  gap: 1.5rem;
}

.solucoesCard {
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  align-items: center;
  width: 200px;
  height: 306px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #434343;
}

.soluçoesCardTitulo {
  position: relative;
  width: 165px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  line-height: 20px;
  font-weight: 400;
  font-size: 1rem;
  color: #dddddd;
}

.soluçoesCardText {
  position: absolute;
  top: 45%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  text-align: center;
  color: #dddddd;
  width: 150px;
}

.solucoesLine {
  position: absolute;
  top: 40%;
  width: 116px;
  height: 2px;
  background-color: #fcc837;
}

.formContactContainer {
  position: relative;
  height: 1129px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: var(--cor-preto);
  border-bottom: 1px solid var(--cor-cinza);
  border-top: 1px solid var(--cor-cinza);
}

.formContactContent {
  position: relative;
  width: 100vw;
  max-width: 664px;
  margin: 0 auto;
}

.secadorWapperDireita {
  position: absolute;
  bottom: 30%;
  right: -35%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secadorWapperEsquerda {
  position: absolute;
  top: -5%;
  left: -35%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-70deg);
}
.secadorWapperEsquerda2 {
  visibility: hidden;
  position: absolute;
  top: 10%;
  left: -45%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secadorWapperBase {
  visibility: hidden;
  position: absolute;
  top: 10%;
  left: -45%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secadorDireita {
  position: absolute;
  width: 83.43px;
  height: 98.61px;
  filter: drop-shadow(0 0 10px var(--cor-rosa));
}
.secadorEsquerda {
  position: absolute;
  width: 83.43px;
  height: 98.61px;
  filter: drop-shadow(0 0 10px var(--cor-rosa));
  transform: rotate(-119deg);
}

.blur {
  z-index: -1;
}

.brilhoTopo {
  position: absolute;
  top: -5%;
  right: -10%;
  width: 15%;
  z-index: 0;
}

.brilhoFundo {
  position: absolute;
  bottom: -5%;
  left: -10%;
  width: 15%;
  z-index: 0;
}

.formphoneImage {
  position: absolute;
  bottom: 14%;
  right: -28%;
  z-index: 1;
}

.formlaptopImage {
  position: absolute;
  top: -25%;
  left: -30%;
}

/* Process Section */
.processContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  width: 100%;
  height: 1300px;
}
.processGrid {
  display: grid;
  width: 80%;
  height: 1000px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-template-columns: 1fr 0.5fr 1fr;
}
.processColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: full;
  gap: 10rem;
}
.processColumnRight {
  align-self: flex-start;
}
.cardProcess {
  background-color: #1b1b1b;
  padding: 2rem;
  height: 400px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.cardProcess h2 {
  text-align: center;
  color: #fff;
  font-weight: 200;
  margin-bottom: 1rem;
  font-size: 24px;
}
.processArrows {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
.stepContainer {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.step {
  border: 1px solid #434343;
  padding: 16px;
  border-radius: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 280px;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}

.step:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
}

.stepIcon {
  font-size: 48px;
  color: #f96836;
}

.stepTitle {
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  width: 100%;
  text-align: center;
}
.stepTitle::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f96836;
  margin-top: 8px;
}
.stepDescription {
  text-align: center;
  font-size: 14px;
  color: #bbb;
}
.processTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
}
.processTitle h1 {
  font-size: 48px;
  position: relative;
  z-index: 1;
}

.ProcessStepIcon {
  display: flex;
  position: absolute;
  visibility: hidden;
  width: 100vw; 
  max-height: 75px;
  justify-self: center;
  padding-bottom: 5px;
}

@media (max-width: 1100px) {
  .appSuccessDescription {
    max-width: 1112px;
    width: 85vw;
    font-size: 2vw;
  }
  .appSuccessImage {
    visibility: hidden;
  }
  .formlaptopImage {
    visibility: hidden;
  }
  .formphoneImage {
    visibility: hidden;
  }
  .processContainer {
    height: 1700px;
  }
  .processGrid {
    height: 1314px;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .processColumn {
    gap: 1rem;
  }
  .processArrows {
    position: absolute;
    visibility: hidden;
  }
  .processCamera {
    position: absolute;
    visibility: hidden;
  }
  .cardProcess {
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0);
  }
  .cardProcess h2 {
    color: #1b1b1b;
    margin-bottom: 0;
  }
  .step {
    background-color: #1b1b1b;
    width: 10vw;
  }
  .ProcessStepIcon {
    position: relative;
    visibility: visible;
    padding-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .appSuccessContainer {
    display: grid;
    height: 610px;
    align-self: center;
    width: 99vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
    padding: 0 0 0 0;
  }
  .brilhoTopo {
    visibility: hidden;
  }
  .brilhoFundo {
    visibility: hidden;
  }
  .appSuccessContent {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 90vw;
  }
  .heroUnderlineImg {
    display: none;
  }

  .SolucoesTitulo {
    font-size: 32px;
  }
  .SolucoesSubTitulo {
    font-size: 11px;
    font-style: italic;
  }

  .appSuccessDescription {
    display: grid;
    place-self: center;
    text-align: justify;
    font-size: 12px;
    padding-top: 0, 5rem;
    margin-top: 0;
    width: 70vw;
  }

  .SolucoesTitulo {
    font-size: 32px;
  }
  .SolucoesSubTitulo {
    font-size: 11px;
    font-style: italic;
  }
  .SolucoesTituloImage {
    width: 300px;
  }
}

@media (max-width: 600px) {
  .processTitle h1 {
    font-size: 36px;
    font-weight: 700;
  }
  .processTitle p {
    visibility: hidden;
  }
  .step {
    width: 40vw;
  }
  .cardProcess {
    width: 80vw;
    align-self: center;
    padding: 0;
  }
  .processContainer {
    height: 1450px;
    gap: 0;
    margin-top: 30px;
  }

  .formContactContainer {
    height: 1000px;
    gap: 3rem;
  }
  .appSuccessTitle2 {
    flex-shrink: 0;
    display: flex;
    place-self: center;
    text-align: start;
    position: relative;
    visibility: visible;
    width: 350px;
    font-size: 36px;
    font-weight: 700;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .appSuccessTitle {
    visibility: hidden;
    position: absolute;
  }
  .appSuccessStribble2 {
    visibility: visible;
    width: 12.28px;
    height: 9px;
    position: absolute;
    top: 50%;
    left: 1.2cap;
  }
  .appSuccessContainer {
    display: grid;
    height: 610px;
    align-self: center;
    width: 99vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
    padding: 0 0 0 0;
  }
  .formContactTitle {
    text-wrap: pretty;
    max-width: 330px;
    width: 80vw;
    text-overflow: clip;
    text-align: center;
  }
  .formContactTitle h1 {
    font-size: 36px;
    font-weight: 700;
  }
  .appSuccessStribble {
    visibility: visible;
    width: 254px;
    padding-bottom: 30px;
  }
  .appSuccessStribble2 {
    visibility: hidden;
  }
  .appProcessStribble {
    width: 353px;
  }
}

@media (max-width: 490px) {
  .step {
    justify-content: flex-start;
    padding-top: 15%;
  }
  .processTitle h1 {
    font-size: 30px;
  }
  .heroUnderlineImg {
    display: none;
  }
  .appSuccessStribble {
    position: absolute;
    left: 0%;
  }

  .appHeroButtonText::before {
    content: "Conheça a Irís";
  }
  .appHeroImage {
    visibility: hidden;
  }
  .appHeroImage2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    filter: brightness(0.8);
  }

  .heroDecorImg {
    top: -30%;
    left: 5%;
  }

  .appHeroButtons button,
  .appHeroButtons a,
  .appHeroButtons icon {
    font-size: 20px;
  }

  .appHeroButtons button {
    height: 58px;
    min-width: 56px;
  }
  .appHeroButtons {
    padding-bottom: 5rem;
  }

  .appHeroButtons a {
    width: 56px;
  }

  .appHeroTitle {
    padding-bottom: 7rem;
  }

  .appSuccessTitle {
    visibility: hidden;
    position: absolute;
  }

  .SolucoesTituloStribble {
    visibility: hidden;
    position: absolute;
    width: 12.28px;
    height: 9px;
    bottom: 1.5em;
    left: 0;
  }

  .SolucoesTituloImage {
    visibility: visible;
  }

  .solucoesContainer {
    text-align: start;
  }
  .megaphoneImage {
    position: absolute;
    bottom: 59%;
    left: 9.2em;
    width: 37.59px;
    height: 35.27px;
  }
  .SolucoesSubTitulo {
    width: 85%;
    word-break: break-word;
  }

  .appSuccessTitle {
    visibility: hidden;
    position: absolute;
  }

  .appSuccessContent {
    width: 90vw;
    justify-self: center;
  }
  .appSuccessTitle2 {
    word-break: break-word;
    width: 80vw;
    justify-self: center;
    text-align: center;
  }
  .stepTitle {
    font-size: 16px;
    word-break: break-word;
  }
  .stepDescription {
    font-size: 12px;
  }

  .appSuccessDescription {
    max-width: 360px;
    width: 85vw;
    word-break: break-word;
  }
  .SolucoesTitulo {
    word-break: break-word;
  }
  .processTitle {
    word-break: break-word;
  }

  .formContactTitle {
    word-break: break-word;
  }
}

@media (min-width: 1440px) {
  .solucoesContainer {
    height: 669px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .solucoesCard {
    width: 14.8vw;
  }
  .solucoesContainerCard {
    overflow-x: hidden;
  }
}
